/* Hide the pull-to-refresh indicator for Chrome, Safari, and Opera */
body {
  overscroll-behavior-y: contain; /* Older Chrome and Safari */
  overscroll-behavior: contain; /* Newer Chrome, Safari, and Opera */
}

/* Hide the pull-to-refresh indicator for Firefox */
html {
  overscroll-behavior-y: contain;
  overscroll-behavior: contain;
}

.modal-content {
  background-color: black !important;
  color: white !important;
}
.modal-footer {
  background-color: rgb(122, 118, 118) !important;
}
.popup-content {
  font-size: larger !important;
}
.modal-footer button {
  font-size: larger !important;
  width: fit-content !important;
}
.modal-footer .tamil-resume-btn {
  padding-inline: 15% !important;
}

.modal-footer button:hover {
  background-color: orange !important;
}
.start-btn {
  width: 40% !important;
  font-size: xx-large !important;
}

/* ----------------------------------- */

.btn {
  border-radius: 1 !important;
  border-color: rgb(22, 22, 82) !important;
  border-width: 3px !important;

  /* margin-bottom: 4% !important; */
}
.btn-hover-blue:hover {
  background-color: rgb(22, 22, 82) !important;
}
.exit {
  background-color: red !important;
  color: black !important;
}
.exit:hover {
  background-color: orangered !important;
  border-color: orangered !important;
}

.heading {
  font-size: 300% !important;
  font-weight: bold !important;
  color: rgb(18, 11, 59) !important;
}
.paragraph {
  font-size: xx-large !important;
  padding-top: 2% !important;
  color: rgb(18, 11, 59) !important;
}
.btn-back {
  padding-inline: 7% !important;
  margin-left: 1% !important;
  font-size: 250% !important;
  margin-bottom: 1% !important;
}
.eng-continue-btn {
  padding-inline: 15% !important;

  font-size: xx-large !important;
  margin-bottom: 1% !important;
}
.tamil-continue-btn {
  padding-inline: 15% !important;
  font-size: xx-large !important;
  margin-bottom: 1% !important;
}
.tamil-exit-btn {
  margin-right: 1% !important;
  font-size: xx-large !important;
  padding: 1% !important;
  margin-bottom: 1% !important;
}
.eng-exit-btn {
  margin-right: 1% !important;
  width: fit-content !important;
  padding-inline: 5% !important;
  font-size: xx-large !important;
  margin-bottom: 1% !important;
}
.counter {
  font-size: 450% !important;
  font-weight: 390 !important;
  color: rgb(7, 2, 36) !important;
}

.lang-btn {
  font-size: x-large !important;
  padding: 2% !important;
}
.primary-lang {
  background-color: teal;
  border: none !important;
  margin-top: 40% !important;
  width: 80% !important;
  font-size: xx-large !important;
}
.secondary-lang {
  background-color: rgba(94, 71, 94, 0.877);
  border: none !important;
  width: 80% !important;
  font-size: xx-large !important;
}
.start-btn {
  width: 20% !important;
  font-size: xx-large;
}
.start-btn:hover {
  background-color: navy !important;
}
/* -------------------------------------------------- */
.restart-btn {
  background-color: rgb(22, 22, 82) !important;
  /* padding-inline: 50% !important; */
  font-size: xx-large !important;
  padding: 2% !important;
  width: 40% !important;
  margin-left: 2% !important;
  margin-bottom: 1% !important;
}
.restart-btn:hover {
  background-color: teal !important;
}

.tamil-restart-btn {
  font-size: xx-large !important;
  width: 60% !important;
  text-align: center !important;
  padding: 3% !important;
  gap: 3 !important;
}

/* Mobile devices */
@media screen and (max-width: 576px) {
  .paragraph {
    font-size: large !important;
  }
  .heading {
    font-size: x-large !important;
    font-weight: bold !important;
  }
  .counter {
    font-size: 250% !important;
    font-weight: 400 !important;
  }
  .btn-back {
    padding-inline: 6% !important;

    margin-left: 1% !important;
    font-size: medium !important;
    margin-bottom: 1% !important;
  }
  .eng-continue-btn {
    padding-inline: 15% !important;
    font-size: medium !important;
    margin-bottom: 1% !important;
  }
  .tamil-continue-btn {
    padding-inline: 7% !important;
    font-size: medium !important;
    margin-bottom: 1% !important;
  }
  .tamil-exit-btn {
    margin-right: 1% !important;
    font-size: small !important;
    padding: 0% !important;
    margin-bottom: 1% !important;
  }
  .eng-exit-btn {
    margin-right: 1% !important;
    width: fit-content !important;
    padding-inline: 5% !important;
    font-size: medium !important;
    margin-bottom: 1% !important;
  }

  .primary-lang {
    margin-top: 50% !important;
    width: 80% !important;
    font-size: larger !important;
  }
  .secondary-lang {
    width: 80% !important;
    font-size: larger !important;
  }
  .start-btn {
    font-size: medium !important;
    width: 30% !important;
    margin-bottom: 5% !important;
  }
  .tamil-start-btn {
    width: 40% !important;
    font-size: larger !important;
    padding: 2% !important  ;
    margin-bottom: 5% !important;
  }
  .restart-btn {
    font-size: medium !important;
    padding: 6% !important;
    width: 70% !important;
    margin-left: 2% !important;
    margin-bottom: 1% !important;
  }
  .tamil-restart-btn {
    font-size: medium !important;
    width: 60% !important;
    text-align: center !important;
    padding: 3% !important;
    gap: 3 !important;
  }
  .popup-content {
    font-size: small !important;
    height: fit-content !important;
  }
  .modal-footer button {
    font-size: small !important;
    width: fit-content !important;
  }
  .modal-footer .tamil-resume-btn {
    padding-inline: 10% !important;
  }
  .tamil-exit-btn {
    padding: 1% !important;
    font-size: medium !important;
  }
}
/* tablets  */
@media screen and (min-width: 576px) and (max-width: 768px) {
  .paragraph {
    font-size: x-large !important;
    padding-top: 2% !important;
  }
  .heading {
    font-size: xx-large !important;
    font-weight: bold !important;
  }
  .counter {
    font-size: 350% !important;
    font-weight: 400 !important;
  }
  .btn-back {
    padding-inline: 7% !important;
    margin-left: 1% !important;
    font-size: x-large !important;
    margin-bottom: 1% !important;
  }
  .eng-continue-btn {
    padding-inline: 15% !important;
    font-size: x-large !important;
    margin-bottom: 1% !important;
  }
  .tamil-continue-btn {
    padding-inline: 15% !important;
    font-size: larger !important;
    margin-bottom: 1% !important;
  }
  .tamil-exit-btn {
    margin-right: 1% !important;
    font-size: larger !important;
    padding: 3% !important;
    margin-bottom: 1% !important;
  }
  .eng-exit-btn {
    margin-right: 1% !important;
    width: fit-content !important;
    padding-inline: 5% !important;
    font-size: x-large !important;
    margin-bottom: 1% !important;
  }
  .restart-btn {
    font-size: x-large !important;
    padding: 3% !important;
    width: 50% !important;
    margin-left: 2% !important;
    margin-bottom: 1% !important;
  }
  .tamil-restart-btn {
    font-size: x-large !important;
    width: 60% !important;
    text-align: center !important;
    padding: 3% !important;
    gap: 3 !important;
  }

  .primary-lang {
    margin-top: 50% !important;
    width: 90% !important;
    font-size: medium !important;
  }
  .secondary-lang {
    width: 90% !important;
    font-size: medium !important;
  }
  .start-btn {
    width: 40% !important;
    font-size: x-large !important;
  }
  .lang-btn {
    padding: 2% !important;
    font-size: x-large !important;
  }
  .popup-content {
    font-size: large !important;
  }
  .modal-footer button {
    font-size: large !important;
    width: fit-content !important;
  }
  .modal-footer .tamil-resume-btn {
    padding-inline: 15% !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .paragraph {
    font-size: xx-large !important;
    padding-top: 2% !important;
  }
  .heading {
    font-size: 230% !important;
    font-weight: bold !important;
  }
  .counter {
    font-size: 400% !important;
    font-weight: 370 !important;
  }
  .btn-back {
    padding-inline: 7% !important;
    margin-left: 1% !important;
    font-size: xx-large !important;
    margin-bottom: 1% !important;
  }
  .eng-continue-btn {
    padding-inline: 15% !important;
    font-size: xx-large !important;
    margin-bottom: 1% !important;
  }
  .tamil-continue-btn {
    padding-inline: 15% !important;
    font-size: x-large !important;
    margin-bottom: 1% !important;
  }
  .tamil-exit-btn {
    margin-right: 1% !important;
    font-size: x-large !important;
    padding: 2% !important;
    margin-bottom: 1% !important;
  }
  .eng-exit-btn {
    margin-right: 1% !important;
    width: fit-content !important;
    padding-inline: 5% !important;
    font-size: xx-large !important;
    margin-bottom: 1% !important;
  }
  .restart-btn {
    font-size: xx-large !important;
    padding: 3% !important;
    width: 50% !important;
    margin-left: 2% !important;
    margin-bottom: 1% !important;
  }
  .tamil-restart-btn {
    font-size: xx-large !important;
    width: 60% !important;
    text-align: center !important;
    padding: 3% !important;
    gap: 3 !important;
  }
  /* .lang-toggle {
    width: 50% !important;
  } */
  .primary-lang {
    margin-top: 50% !important;
    width: 100% !important;
    font-size: medium !important;
  }
  .secondary-lang {
    width: 100% !important;
    font-size: medium !important;
  }
  .start-btn {
    width: 40% !important;
    font-size: xx-large !important;
  }
  .lang-btn {
    padding: 3% !important;
    font-size: xx-large !important;
  }
  .popup-content {
    font-size: larger !important;
  }
  .modal-footer button {
    font-size: larger !important;
    width: fit-content !important;
  }
  .modal-footer .tamil-resume-btn {
    padding-inline: 15% !important;
  }
}
