* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: -1;
  background-color: coral;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.container {
  box-sizing: border-box;
  background-color: black;
  color: white;

  border-radius: 3px;
  box-shadow: 0 10px 14px rgba(46, 45, 45, 0.25);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 20%;
  width: 25%;
}

.container p {
  margin: 10px 10px 0px 10px;

  line-height: 20px;
  text-indent: 10px;
  background-color: black;
}
.exitbg {
  background-color: gray;
  position: relative;
  width: 100%;
}

.buttons {
  display: flex;
  gap: 1px;
  justify-content: space-between;
}
.buttons button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
}
.buttons button:hover {
  background-color: black;
  color: white;
}
.text-container {
  text-align: center;
  line-height: 35px;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.lang-btn {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.eng-btn {
  color: white;
  background-color: teal;
  border-radius: 8px;
  box-shadow: 0 1px 1px black;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
}
.tam-btn {
  color: white;
  background-color: rgb(64, 167, 167);
  border-radius: 8px;
  box-shadow: 0 1px 1px black;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
}
.lang-btn button:hover {
  /* color: black; */
  background-color: rgb(110, 160, 131);
}
.text-container h1 {
  line-height: 40px;
}
.text-container p {
  margin-top: 10%;
}
.count {
  font-size: x-large;
}
.home-buttons {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.home-buttons button {
  background-color: black;
  padding: 10px 40px;
  color: white;
  cursor: pointer;
}
.home-buttons .exit {
  background-color: red;
  color: black;
}
.home-buttons :hover {
  background-color: navy;
  color: white;
}

@media screen and (max-width: 480px) {
  .container {
    width: 90%;
  }
}
/* @media screen and (min-width: 480px) and (max-width: 860px) {
  .container {
    width: 30%;
    font-size: large;
    line-height: 30px;
  }
} */
@media screen and (max-width: 860px) {
  .container {
    width: 20%;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    width: 80%;
  }
}
